run = ["sh", "-c", "bun run start:web"]

hidden = [
  "bun.lockb"
]
modules = ["nodejs-20", "web", "bash", "bun-1.1", "bun-1.0", "nix"]

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 8081
externalPort = 80

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
XDG_CONFIG_HOME = "/home/runner/.config"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[packager]
language = "bun"

  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

  [languages.javascript.languageServer]
start = "./node_modules/.bin/typescript-language-server --stdio"

[deployment]
run = ["sh", "-c", "bun run start:web"]
